[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    syntax-theme = Catppuccin-mocha

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --oneline --graph --decorate

[push]
    default = current

[pull]
    rebase = true

[init]
    defaultBranch = main